* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Thai", sans-serif;
  background-color: rgb(95, 95, 95);
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;

  /* background-color: yellow; */
}

a {
  text-decoration: none;
  color: #6164ff;
}

a:hover {
  text-decoration: underline;
}

.site-header {
  background-color: rgb(158, 158, 158);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.site-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.site-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(170, 170, 170);
}
.social-icons a {
  font-size: lrem;
  font-weight: 600;
  color: bisque;

  border: 1px solid bisque;
  border: 50%;

  display: inline-flex;
  justify-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background-color: #6164ff;
  color: aliceblue;
  border-color: #6164ff;
  transform: translateY(-5px);
}
.main-nav {
  background-color: #6164ff;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}
.nav-meun li a {
  color: #ffffff;
  font-size: 0.9rem;

  display: block;
  padding: 10px 15px;
}
.nav-menu li a:hover,
.nav-menu li a.active {
  background-color: black;
}
.hero-title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 2px 4px grey;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hreo-content {
  background-color: gray;
  padding: 20px;
  box-shadow: 2px 2px 8px gray;
  margin-bottom: 20px;
}

.hero-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(350px, 1fr));

  /*
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    */
}
hero-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  /* เพิ่มความเบลอพื้นหลังด้านหลังไอเท็ม */

  transition: all 0.3s ease;

  /*overflow: hidden; /* ซ่อนส่วนที่เกินขอบเขตของกล่อง */
}

.hero-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  background: white;
}

.hero-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-item p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.hero-item .read-more {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e8bc3;

  display: inline-block;
}

.hero-item .read-more:hover {
  color: #764ba2;
  text-decoration: none;
}

.hero-item .read-more::after {
  content: "→";
  margin-left: 5px;

  transition: margin-left 0.3s ease;
}

.hero-item .read-more:hover::after {
  margin-left: 10px;
}
.content-grid {
  display: grid;
  grid-template-columns: 2fr 0.9fr;
  gap: 20px;
}
.post-headline {
  font-size: 0.685rem;
  color: #757373;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-circle {
  background-color: rgb(91, 143, 202);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: white;
  font-size: 0.69rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-circle .day {
  font-size: 1.2rem;
  font-weight: 500;
}
.span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
}
.card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.card + .card {
  margin-top: 20px;
}
.post-list {
  display: flex;
  flex-direction: columns;
  gap: 20px;
}
.post-image {
  height: 300px;
  margin: 10px 0;
  overflow: hidden;
}
.post-imge img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
.post-description {
  font-size: 0.82rem;
  color: #616060;
  margin: 10px;
}
.post-footer {
  font-size: 0.68rem;
  font-weight: 500;
  margin: 10px;
  border-top: 1 solid rgb(170, 170, 170);
  display: flex;
  gap: 8px;
}
.comparion-tb {
  border: 1px solid black;
  border-collapse: collapse;
  box-shadow: 0 2px 8px;
}
.comparion-tb th {
  background: linear-gradient(
    45deg,
    rgb(124, 203, 255) 0%,
    rgb(28, 106, 252) 100%
  );
  color: white;
  padding: 15px;
}
.comparion-tb tr :nth-child(even) td {
  background: rgb(49, 172, 253);
  color: white;
  padding: 15px;
}
.comparion-tb tr:hover td {
  background-color: rgb(35, 245, 105);
  color: white;
}
.comparion-tb td {
  background-color: rgb(35, 245, 105);
  color: white;
}
.feature {
  font-weight: 600;
  color: #000;
  font-size: 0.8rem;
}
.txt-gray {
  font-weight: 500;
  color: #6d6d6d;
}
.txt-red {
  font-weight: 500;
  color: rgb(255, 15, 15);
}
.txt-green {
  font-weight: 500;
  color: #31fc09;
}
.widget {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.widget + .widget {
  margin-top: 20px;
}
